body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/*-----------------------------------------------------------------------------------*/

.m0 { margin: 0; }
.p0 { padding: 0; }

/*-----------------------------------------------------------------------------------*/

.cell {
  padding: 0.20em;
  margin: 0em;
  height: 4.5vh;
  width: 4.5vh;
  border-radius: 0;
  border-color: #2196F3;
  background-color: #FFFFFF;
  color: #000000;
  font-size: 20px; 
}

.cell-show {
  color: #000000;
  background-color: #91C6F9;
}

.cell-show:active,
.cell-show:focus {
  background-color: #91C6F9;
}

.cell-show:hover {
  background-color: #81B6E9;
  color: #81B6E9;
}

.cell-hide {
  color: #FFFFFF;
  background-color: #FFFFFF;
}

.cell-hide:active,
.cell-hide:focus {
  background-color: #FFFFFF;
}

.cell-hide:hover {
  background-color: #EEEEEE;
  color: #EEEEEE;
}

.cell-0 {
  color: #B1D6F9!important;
  background-color: #B1D6F9!important;
}

.cell-1 { color: #014668!important; }
.cell-2 { color: #9527A3!important; }
.cell-3 { color: #A3276D!important; }
.cell-4 { color: #A32738!important; }
.cell-5 { color: #EB0000!important; }
.cell-6 { color: #C4471A!important; }
.cell-7 { color: #C4751A!important; }
.cell-8 { color: #C4AB1A!important; }

/*-----------------------------------------------------------------------------------*/

.stats {
  font-size: 28px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.stats span {
  margin: 1em 1em 1em 1em;
}

.btn-reset,
.btn-show {
  text-transform: none!important;
  font-size: 16px!important;
  padding: 0 3em 0 3em!important;
  margin: 0.4em 1.5em 0.4em 1.5em!important;
}

.board {
  margin-bottom: 2em;
}

/*-----------------------------------------------------------------------------------*/

.header-title {
  font-size: 90px;
}

.header-subtitle {
  font-size: 44px;
}

.header {
  font-weight: lighter;
}

.header-instructions {
  color: #FFFFFF;
  font-weight: lighter;
  font-size: 28px;
}

.header-link {
  font-size: 35px;
}

#snackbar-game-lose {
  text-align: center;
}